.mobile-nav {
  li > ul {
    display: none;
    transform: translateX(30px);
  }
  li:hover > ul {
    display: flex;
  }
  li > a svg {
    transform: rotate(0deg);
  }
  li:hover > a svg {
    transform: rotate(180deg);
  }
}
